.statistics {
  width: 50%;
  border: 1px solid #179b81;
  border-radius: 4px;
  padding-top: 15px;
  margin: 0 auto;
  box-shadow: 0px 0px 21px 0px rgba(23, 155, 129, 0.75);
  background-color: rgba(218, 247, 166, 0.2);
  margin-bottom: 15px;
}

.title {
  text-align: center;
  color: #596663;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.statList {
  list-style-type: none;
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 5);
  align-items: center;
  gap: 5px;
  border-top: 1px solid #179b81;
  background-color: rgb(247, 220, 111, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}

.item:not(:last-child) {
  border-right: 1px solid #179b81;
}

.label {
  font-size: 14px;
  color: #596663;
}

.percentage {
  font-size: 20px;
  font-weight: 700;
  color: #292f2e;
}
